# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Database files
*.sqlite
*.db

# Flask instance folder
instance/

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db


# Exclude migration directories
**/migrations/
/venv
/__pycache__
app/__pycache__
app/views/__pycache__
