/* If these styles are not used, you can remove them or set them to `unset` */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: unset;
  min-height: unset;
  display: unset;
  align-items: unset;
  justify-content: unset;
  font-size: unset;
  color: unset;
}

.App-link {
  color: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
