/* Override App class effects within the modal */
.modal-content {
  text-align: left; /* Resets text alignment in case it's inherited from App */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1050; /* Ensures it's above other content */
}

.modal.active {
  display: block;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}

/* Additional overrides for input and select elements to ensure they are not affected by App.css */
.form-group input, .form-group select {
  font-size: 16px; /* Ensures consistent font size */
  color: #000; /* Ensures text is readable */
}

/* Ensure that button styling is specific to the modal and not inherited */
.add-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: auto; /* Adjust width as needed */
  border-radius: 5px;
}

.add-btn:hover {
  background-color: #218838;
}

@media screen and (max-width: 600px) {
  .modal-content {
      width: 90%; /* Adjust width on smaller screens for better responsiveness */
  }
}
