/* UsersDashboard.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 50px;
}

h2{
    align-self:center;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

/* select{
    margin-bottom: 5px;
} */

select, input, button {
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Ensures full width in column layout */
    box-sizing: border-box;
}

.sec-line, .first-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Adding the new style for scanning mode */
.column-layout {
    flex-direction: column;
}

.checkbox-cntr{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
    transform: scale(1.2);
    accent-color:rgba(96, 174, 62, 1);
}

/* Custom checkbox styles */
.custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space below the checkbox for separation */
}

.custom-checkbox input[type="checkbox"] {
    margin-right: 5px;
    
    accent-color: #28a745; /* Custom color for the checkbox */
}

.custom-checkbox label {
    margin: 0; /* Removes default margin */
    font-size: 16px; /* Matches other input sizes */
    color: #333; /* Sets text color */
}

/* Adjustments for horizontal layout on larger screens */
@media(min-width: 768px) {
    .search-container .first-line, .sec-line {
        flex-direction: row;
        align-items: center; /* Aligns items vertically */
    }

    select, input {
        flex: 1; /* Allows select and input to fill available space equally */
    }

    .column-layout {
        flex-direction: column;
    }
    
    button {
        width: auto; /* Auto width based on content */
        flex-grow: 0; /* Prevents buttons from growing */
        white-space: nowrap; /* Keeps button text on one line */
        margin-left: 10px; /* Adds spacing between buttons and input/select */
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        max-height: 50px;
    }

    h2{
        align-self:center;
    }
}

/* Scanner container adjustments */
.scanner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column; /* Stacks elements vertically */
}

.qr-reader {
    width: 100%;
    max-width: 400px; /* Ensures the scanner is not too wide */
    height: auto; /* Sets a fixed height for the scanner area */
    border: 1px solid #ccc; /* Optional: adds a border for visibility */
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    width: 25%;
}

th {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media(max-width: 768px) {
    .scanner-container{
        width: 100%;
    }
    table, th, td {
        font-size: 12px; /* Slightly larger font for readability on small screens */
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;  
    }
}
