.modal.active {
    display: block;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  
  .form-group {
    margin-bottom: 0px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .add-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-btn:hover {
    background-color: #218838;
  }
  
  .close-btn {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-btn:hover {
    background-color: darkred;
  }

  